/* ロゴサイズ調整 */
.logo-img {
  height: 50px; /* PC */
  width: auto;
}

/* スマホレスポンシブ */
@media (max-width: 768px) {
  .logo-img {
    height: 35px;
  }
}

body {
  padding-top: 60px; /* PC向け */

  @media (max-width: 768px) {
    padding-top: 45px; /* スマホ向け */
  }
}