<h1><%= @user.name %> さんのページ</h1>

<% if @user.posts.any? %>
  <h2>投稿一覧</h2>
  <ul>
    <% @user.posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
<% else %>
  <p>まだ投稿がありません。</p>
<% end %>